<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Agregar producto</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>
<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="/">Página principal</a></li>
							<li><a th:href="@{/ventas/new}" href="/ventas">Venta</a></li>
							<li class="active"><a th:href="@{/inventario}" href="">Inventario</a></li>
							<li class="dropdown"><a href="/reportes"
								class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Reportes<span
									class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/reportes/ventas">Ventas</a></li>
									<li><a href="/reportes/productosAgotados">Productos
											agotados</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>


	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">

				<form id="messageForm" th:action="@{/inventario/new}" action="#"
					th:object="${producto}" method="post">
					<h1>Agregar producto</h1>
					<br>

					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Nombre</span> <input
							type="text" class="form-control"
							placeholder="Digite el nombre del producto"
							aria-describedby="basic-addon1" th:field="*{nombreProducto}">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Código</span> <input
							type="text" class="form-control"
							placeholder="Digite el código del producto"
							aria-describedby="basic-addon1" th:field="*{idProducto}">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Descripción</span>
						<input type="text" class="form-control"
							placeholder="Digite la descripción del producto"
							aria-describedby="basic-addon1" th:field="*{descripcionProducto}">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Precio</span> <input
							type="number" class="form-control"
							placeholder="Digite el precio del producto"
							aria-describedby="basic-addon1" th:field="*{precioProducto}">
					</div>
					<br>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon1">Cantidad</span>
						<input type="number" class="form-control"
							placeholder="Digite la cantidad del producto"
							aria-describedby="basic-addon1" th:field="*{cantidadProducto}">
						<br> <br>
					</div>
					<br>
					<div class="input-group my-group">
						<span class="input-group-addon" id="basic-addon1">Cantidad</span>
						<select th:field="*{categoria.nombreCategoria}" id="lunch"
							class="selectpicker form-control" data-live-search="true"
							title="Porfavor seleccione una categoría...">
							<option value="Aseo">Aseo</option>
							<option value="Hogar">Hogar</option>
							<option value="Moda">Moda</option>
							<option value="Tecnologia">Tecnologia</option>
						</select>
					</div>
			</div>
			<br>
			<div th:if="${message != ''}"
				class="alert alert-warning alert-dismissible" role="alert">
				<div class="text-center">
					<button type="button" class="close" data-dismis="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>¡Señor usuario!</strong>
					<div th:text="${message}"></div>
				</div>
			</div>
			<br>
			<hr class="featurette-divider">
			<div class="text-center">
				<div class="form-actions">

					<input type="submit" value="Agregar producto" id="agregar1"
						name="agregar" class="btn btn-primary" /> <a
						th:href="@{/inventario}" id="Cancelar1" class="btn btn-primary">Cancelar</a>
					<a th:href="@{/inventario/new}" id="Limpiar"
						class="btn btn-primary">Limpiar</a>
				</div>
			</div>
			<br> <br>

			</form>
		</div>
		<br>


	</div>
	</div>