<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar producto</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>
<body>
<br>
<br>
	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Almaccenture</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="#">Home</a></li>
							<li><a href="#">Venta</a></li>
							<li class="active"><a href="#">Inventario</a></li>
							<li><a href="#">Reportes</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>


	</br>
	</br>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">

				<h1>Agregar producto</h1>


				</br> </br>


				<h2>


					<div class="row text-center">


						<form id="messageForm" th:action="@{/inventario/new}" action="#"
							th:object="${producto}" method="post">
							<div>
								<label for="nombre">Nombre:</label> <input type="text"
									th:field="*{nombreProducto}"> <br> <br>
							</div>
							<div>
								<label for="codigo">Código:</label> <input type="text"
									th:field="*{idProducto}"> <br> <br>
							</div>
							<div>
								<label for="descripcion">Descripcion:</label> <input type="text"
									th:field="*{descripcionProducto}"> <br> <br>
							</div>
							<div>
								<label for="precio">Precio:</label> <input type="text"
									th:field="*{precioProducto}"> <br> <br>
							</div>
							<div>
								<label for="cantidad">Cantidad:</label> <input type="text"
									th:field="*{cantidadProducto}"> <br> <br>
							</div>
							<!-- 				<div>	 <input type="text" -->
							<!-- 					th:field="*{producto.idProducto}"> <br> <br> </div> -->

							<!-- 					<div> -->

							<div>
								<label for="codigo">Categoria:</label> <select
									th:field="*{categoria.nombreCategoria}" cssClass="form-control">
									<option value="Aseo">Aseo</option>
									<option value="Hogar">Hogar</option>
									<option value="Moda">Moda</option>
									<option value="Tecnologia">Tecnologia</option>
							</div>

							<!-- 							<option value="Gerencia">Gerencia</option> -->

							</select> <br> <br>
					</div>

					<div class="form-actions">

						<input type="submit" value="Agregar producto" id="agregar1"
							name="agregar" class="btn btn-success btn-lg" /> <input
							type="submit" value="Cancelar" id="Cancelar1"
							class="btn btn-success btn-lg" /> <input type="submit"
							value="Limpiar" id="Limpiar" class="btn btn-success btn-lg" />

						<!-- 						<input class="btn btn-info" type="submit" name="save" value="Guardar" /> -->
					</div>

					</form>


					<br>
					<!-- <br> <input type="hidden" th:field="*{activo}" /> -->
					<div th:if="${message != ''}"
						class="alert alert-warning alert-dismissible" role="alert">
						<div class="text-center">
							<button type="button" class="close" data-dismis="alert"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<strong>¡Señor usuario!</strong>
							<div th:text="${message}"></div>
						</div>
					</div>
			</div>
		</div>
	</div>

	</h2>