<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Inventario</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>
<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Almaccenture</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="#">Home</a></li>
							<li><a href="#">Venta</a></li>
							<li class="active"><a href="#">Inventario</a></li>
							<li><a href="#">Reportes</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>
	<h2>

		</br> </br>

		<!-- 		<div class="row text-center"> -->
		<!-- 			<div class="col-md-2"></div> -->
		<!-- 			<div class="col-md-8"> -->
		<!-- 				<div> -->
		<!-- 					<form id="cargar" th:action="@{/ventas}" th:object="${venta}"
<!-- 					action="#" th:method="post"> -->
		
		<!-- 					<div> -->

		<!-- 						<label for="fecha">Fecha:</label> <label -->
		<!-- 							class="label label-default" th:text="${venta.fechaVenta}"></label> -->

		<!-- 						<label for="caja">Caja:</label> <label class="label label-default" -->
		<!-- 							th:text="${venta.caja.nombreCaja}"></label> -->
		<!-- 						Como inserto como th:field un objeto -->

		<!-- 					</div> -->
		<!-- 					</form> -->
		<!-- 				</div> -->
		<!-- 				<div class="col-md-2"></div> -->
		<!-- 			</div> -->
		<!-- 		</div> -->

		<!-- 		<hr class="featurette-divider"> -->



		<div class="row text-center">


			<form id="messageForm" th:action="@{/inventario}" action="#"
				th:object="${detalle}" method="get">
				<label for="codigo">Buscar producto:</label> <input type="text"
					th:field="*{producto.idProducto}"> <input type="submit"
					value="Buscar" id="agregar" class="btn btn-success btn-lg" /> <br>
				<br>

				<div class="form-actions">

					<input type="submit" value="Agregar producto" id="agregar1"
						class="btn btn-success btn-lg" />
				</div>

			</form>


		</div>
		<br>
		<!-- <br> <input type="hidden" th:field="*{activo}" /> -->
		<div th:if="${message != ''}"
			class="alert alert-warning alert-dismissible" role="alert">
			<div class="text-center">
				<button type="button" class="close" data-dismis="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>¡Señor usuario!</strong>
				<div th:text="${message}"></div>
			</div>
		</div>

		<hr class="featurette-divider">

		<br>

		<div class="row">
			<!-- 			<div class=col-md-1></div> -->
			<div class=col-md-12>

				<table th:if="${not #lists.isEmpty(venta.detalles)}"
					class="table table-bordered table-striped table-hover">

					<thead>
						<tr>
							<th>Código</th>
							<th>Fecha</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Estado</th>
							<th>Categoria</th>
							<th>Descripcion</th>
							<th>Acción</th>
						</tr>
					</thead>
					<!-- 					<tbody> -->
					<!-- 						<tr th:each="detalle : ${venta.detalles}"> -->
					<!-- 							<td th:text="${detalle.producto.idProducto}"></td> -->
					<!-- 							<td th:text="${detalle.producto.nombreProducto}"></td> -->

					<!-- 							<td th:text="${detalle.cantidad}"></td> -->

					<!-- 							<td> $ <span th:text="${#numbers.formatDecimal(detalle.valorUnitario, 0, 'COMMA', 0, 'POINT')}"></span></td> -->

					<!-- 							<td> $ <span th:text="${#numbers.formatDecimal(detalle.cantidad*detalle.valorUnitario, 0, 'COMMA', 0, 'POINT')}"></span></td> -->
					<!-- 							<td><a -->
					<!-- 								th:href="@{'/inventario/' + ${detalle.producto.idProducto}}"><span -->
					<!-- 									class="glyphicon glyphicon-trash"></span></a></td> -->

					<!-- 						</tr> -->
					<!-- 					</tbody> -->

				</table>

				<!-- 				<div class="row"> -->
				<!-- 					<div class="col-md-10"></div> -->
				<!-- 					<div class="col-md-2"> -->
				<!-- 					<p class="label label-danger" th:if="${not #lists.isEmpty(venta.detalles)}"> Total: [[${venta.totalVenta}]]</p> -->
				<!-- 					</div> -->
				<!-- 				</div> -->

				<!-- 			</div> -->
				<!-- 			<div class=col-md-1></div> -->
				<!-- 		</div> -->
				<!-- 		<br> -->

				<!-- 		<div class="row text-center"> -->

				<!-- 		<button th:if="${not #lists.isEmpty(venta.detalles)}" class="btn btn-success btn-lg" id= "pagar" onclick="preparaModalPago()">Pagar</button> -->
				<!-- 			<form th:action="@{/ventas}" action="#" th:method="GET" style="display:inline;"> -->
				<!-- 				<input name="limpiar" type="submit" value="Cancelar"  -->
				<!-- 					class="btn btn-primary btn-lg" /> -->
				<!-- 			</form> -->
				<!-- 		</div> -->


				<script th:inline="javascript">
					/*llama ruta de controlador para inyectar data en el modal*/
					function preparaModalPago() {
						let url = "/ventas/pago";
						$.get(url, function(result) {
							mostrarModal(result);
						})

					}

					/*muestra modal-dialog y lo rellena con lo que viene en parametro result*/
					function mostrarModal(result) {
						BootstrapDialog.show({
							type : BootstrapDialog.TYPE_PRIMARY,
							title : "Calcular Cambio",
							message : result,
							draggable : true,
							nl2br : false, //para que no genere <br> por cada salto de linea
							buttons : [ {
								label : 'Pagar',
								cssClass : 'btn-primary btn-lg',
								id : 'btnpagar',
								hotkey : 13,
								action : function(dialogItself) {
									var $button = this;
									$button.spin();
									location.replace('/ventas/guardar');
								}
							}, {
								label : 'Cerrar',
								cssClass : 'btn-danger btn-lg',
								id : 'btncancelar',
								action : function(dialogItself) {
									dialogItself.close();
								}
							} ]
						})
					}
				</script>

				<br> <br>
	</h2>
</body>

</html>