<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Inventario</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>
<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="/">Página principal</a></li>
							<li><a th:href="@{/ventas/new}" href="/ventas">Venta</a></li>
							<li class="active"><a th:href="@{/inventario}" href="">Inventario</a></li>
							<li class="dropdown"><a href="/reportes"
								class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Reportes<span
									class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="/reportes/ventas">Ventas</a></li>
									<li><a href="/reportes/productosAgotados">Productos agotados</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>

	<h4>
		</br> </br>


		<div class="col-md-1"></div>
		<div class="col-md-10">
			<h1>Inventario</h1>

			<hr class="featurette-divider">

			<div class="row">
				<div class="col-md-8">
					<p>
						<a th:href="@{/inventario/new}" class="btn
				btn-primary"><span
							class="glyphicon glyphicon-plus" aria-hidden="true"></span>Agregar
							Producto</a>
					</p>
				</div>

				<div class="col-md-4 text-right">
					<form id="formBuscarProducto" th:action="@{/inventario/consulta}"
						action="#" method="get" class="form-inline"
						th:object="${producto}">
						<div class="form-group">
							<input placeholder="Buscar por código" th:field="*{idProducto}"
								class="form-control"
								th:classappend="${#strings.isEmpty(message)}?'has error':'has success'">
						</div>
						<div class="form-group">
							<input type="submit" value="Buscar" id="btnBuscarProd"
								class="btn btn-info">
						</div>

					</form>
					<h5>
						<span th:if="${not #strings.isEmpty(message)}"
							th:text="${message}">Error buscar producto</span>
					</h5>
					<p th:if="${#fields.hasErrors('${producto.idProducto}')}"
						th:errors="${producto.idProducto}">Error al buscar
					<p>
				</div>
			</div>


			<hr class="featurette-divider">

			<h4>
				<a href="/inventario" th:if="${esConsulta}">Ver todos los
					productos</a>
			</h4>
			
			<div class="text-center"
				th:insert="fragments :: paginationbar"></div>

			<div class="row">

				<table class="table table-bordered table-striped table-hover">



					<thead>
						<tr>
							<th>Código</th>
							<th>Fecha</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Estado</th>
							<th>Categoria</th>
							<th>Descripcion</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="inventario : ${productos}">
							<td th:text="${inventario.idProducto}" class="tg-yw4l"></td>
							<td th:text="${inventario.fechaModificacion}" class="tg-yw4l"></td>
							<td th:text="${inventario.nombreProducto}" class="tg-yw4l"></td>
							<td th:text="${inventario.cantidadProducto}" class="tg-yw4l"></td>
							<td th:text="${inventario.precioProducto}" class="tg-yw4l"></td>
							<td><form
									th:action="@{'/inventario/modificarestado/' + ${inventario.idProducto}}"
									th:method="POST">
									<input id="checkbox1" type="checkbox"
										th:checked="${inventario.estadoProducto}" name="check"
										onchange="submit()"><label for="checkbox1"
										th:text="${inventario.estadoProducto}"></label>
								</form></td>
							<td th:text="${inventario.categoria.nombreCategoria}"
								class="tg-yw4l"></td>
							<td th:text="${inventario.descripcionProducto}" class="tg-yw4l"></td>
							<td><a class="glyphicon glyphicon-pencil"
								href="modificar.html"
								th:href="@{'/inventario/modificar/'+${inventario.idProducto}}"></a>
								<a class="glyphicon glyphicon-trash"
								th:href="@{'/product/eliminar?id='+${inventario.estadoProducto}}"></a>
							</td>


						</tr>


					</tbody>

				</table>



			</div>
			<div class=col-md-1></div>
			</br> </br>
			<div class="text-center"
				th:insert="fragments :: paginationbar"></div>
		</div>



		<br> <br>
		</h2>
</body>

</html>