
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">

<title>Almaccenture</title>


<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<!-- Custom styles for this template -->
<link href="carousel.css" rel="stylesheet">


</head>


<body>
	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Página principal</a></li>
							<li><a href="venta.html">Venta</a></li>
							<li><a href="#contact">Inventario</a></li>
							<li><a href="#contact">Reportes</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>


	<div id="myCarousel" class="carousel slide" data-ride="carousel">

		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<img class="first-slide" src="../static/img/Almaccenture.png"
					alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<font color="black"><h1>Bienvenido</h1></font> <font color="black"><p>Aquí
								podras encontrar los productos que desees</p></font>
					</div>
				</div>
			</div>
		</div>

	</div>
	<br>
	<br>
	<hr class="featurette-divider">
	<br>
	<br>
	<div class=text-center>
		<p>
		<h1>Nuestras categorías</h1>
		</p>
	</div>
	<br>
	<br>
	<div class="container marketing">
		<div class="row">
			<div class="col-lg-3">
				<img class="img-circle" src="../static/img/Aseo.png"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Aseo</h2>
				<p>En esta sección encontrarás todos los productos de aseo.</p>
				<p></p>
			</div>

			<div class="col-lg-3">
				<img class="img-circle" src="../static/img/Tecnologia.png"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Tecnología</h2>
				<p>En esta sección encontrarás todos los productos de tecnología</p>
				<p></p>
			</div>

			<div class="col-lg-3">
				<img class="img-circle" src="../static/img/hogar.png"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Hogar</h2>
				<p>En esta sección encontrarás todos los productos para su
					hogar.</p>
				<p></p>
			</div>

			<div class="col-lg-3">
				<img class="img-circle" src="../static/img/moda.png"
					alt="Generic placeholder image" width="140" height="140">
				<h2>Moda</h2>
				<p>En esta sección encontrarás lo último en moda.</p>
				<p></p>
			</div>

		</div>

		<hr class="featurette-divider">

		<footer>
			<p>&copy; Uditeam 2017 &middot; uditeam2017@gmail.com &middot;</p>
		</footer>
	</div>

</body>
</html>