<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Reportes Ventas</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
<link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>


	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
					<span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Almaccenture</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/}" href="#">Página principal</a></li>
					<li><a th:href="@{/ventas/new}" href="#">Venta</a></li>
					<li><a href="/inventario">Inventario</a></li>
					<li class="dropdown active"><a href="#"
						class="dropdown-toggle" data-toggle="dropdown" role="button"
						aria-haspopup="true" aria-expanded="false">Reportes<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="#">Ventas</a></li>
							<li><a href="/reportes/productosAgotados">Productos
									agotados</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
	
	<hr class="featurette-divider">

		<form id="messageForm" th:action="@{/reportes/ventas/lista}"
			action="#" method="get" class="text-center">
			<label for="fechaInicio">Fecha de inicio:</label> <input id="inp-fecha-ini" required
				name="fechaInicio" type="Date"> <label for="fechaFinal">Fecha
				final:</label> <input id="inp-fecha-fin" required name="fechaFinal" type="Date">
			<div class="form-actions">

				<br> <input type="submit" value="Buscar" id="FiltrarFecha"
					class="btn btn-success btn-lg" />
			</div>

		</form>

		<hr class="featurette-divider">

		<div th:if="${not #strings.isEmpty(message)}"
			class="alert alert-warning alert-dismissible" role="alert">
			<div class="text-center">
				<button type="button" class="close" data-dismis="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>¡Señor usuario!</strong>
				<div th:text="${message}"></div>
			</div>
		</div>







		<div th:if="${not #lists.isEmpty(ventas)}">
				<div
					th:insert="fragments :: paginationbar" class="text-center"></div>


				<table class="table table-bordered table-striped table-hover">

					<thead>
						<tr>
							<th>Código</th>
							<th>Fecha</th>
							<th>Caja</th>
							<th>Total</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="venta,status : ${ventas}">
							<td th:text="${venta.idVenta}"></td>
							<td th:text="${venta.fechaVenta}"></td>
							<td th:text="${venta.caja.nombreCaja}"></td>
							<td>$ <span
								th:text="${#numbers.formatDecimal(venta.totalVenta, 0, 'COMMA', 0, 'POINT')}"></span></td>
						<td><button th:if="${not #lists.isEmpty(venta.detalles)}" class="glyphicon glyphicon-eye-open" id="detalles" th:onclick="'javascript:preparaModal(\''+${status.index}+'\');'"></button></td>

						</tr>
					</tbody>


				</table>
				<div
					th:insert="fragments :: paginationbar" class="text-center"></div>


	<div th:if="${not #lists.isEmpty(ventas)}" class="row">
		<div class=col-md-2></div>
		<div class=col-md-8>
			<div th:if="${not #lists.isEmpty(ventas)}"
				th:insert="fragments :: paginationbar" class="text-center"></div>

			
			<table class="table table-bordered table-striped table-hover">

				<thead>
					<tr>
						<th>Código</th>
						<th>Fecha</th>
						<th>Caja</th>
						<th>Total</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="venta : ${ventas}">
						<td th:text="${venta.idVenta}"></td>
						<td th:text="${venta.fechaVenta}"></td>
						<td th:text="${venta.caja.nombreCaja}"></td>
						<td>$ <span
							th:text="${#numbers.formatDecimal(venta.totalVenta, 0, 'COMMA', 0, 'POINT')}"></span></td>

						<td><button th:if="${not #lists.isEmpty(venta.detalles)}" class="glyphicon glyphicon-eye-open" id="detalles" th:onclick="'javascript:preparaModal(\''+${venta.idVenta}+'\');'"></button></td>



					</tr>
				</tbody>

			</table>
			<h2>
			<div class="row">
					<div class="col-md-4"></div>
					<div class="col-md-2">
						
						<p class="label label-danger">Total del reporte: $
							[[${#numbers.formatDecimal(totaldineroventa, 0, 'COMMA', 0, 'POINT')}]]</p>
	
					</div>
				</div>
			</h2>
			
			<div th:if="${not #lists.isEmpty(ventas)}"
			th:insert="fragments :: paginationbar" class="text-center"></div>
			 

		</div>
		<div class="col-md-6"></div>
		</div>
	</div>

	<script th:inline="javascript">
		function preparaModal(idVenta) {
			console.log(idVenta);
			let url = "/ventas/reporte?id=" + idVenta;
			$.get(url, function(result) {
				mostrarModal(result);
			})
		}

		function mostrarModal(result) {
			BootstrapDialog.show({
				type : BootstrapDialog.TYPE_PRIMARY,
				title : "Detalle de la venta",
				message : result,
				draggable : true,
				nl2br : false,
				buttons : [ {
					label : 'Cerrar',
					cssClass : 'btn-primary',
					id : 'btncancelar',
					action : function(dialogItself) {
						dialogItself.close();
					}
				} ]
			})
		}
	</script>
</body>
</html>