<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Reportes</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>
<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="#">Página principal</a></li>
							<li><a th:href="@{/ventas/new}" href="#">Venta</a></li>
							<li class="active"><a href="#">Inventario</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Reportes<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">Ventas</a></li>
									<li><a href="#">Productos agotados</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>

	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading"></div>
			<div class="panel-body">

				<h1 align="center">
					<font color="blue"><label for="codigo">Productos
							agotados</label></font>


<!-- 					<h2> -->
<!-- 						</br> </br> -->
<!-- 						<br> <input type="hidden" th:field="*{activo}" /> -->
<!-- 						<div th:if="${message != ''}" -->
<!-- 							class="alert alert-warning alert-dismissible" role="alert"> -->
<!-- 							<div class="text-center"> -->
<!-- 								<button type="button" class="close" data-dismis="alert" -->
<!-- 									aria-label="Close"> -->
<!-- 									<span aria-hidden="true">&times;</span> -->
<!-- 								</button> -->
<!-- 								<strong>¡Señor usuario!</strong> -->
<!-- 								<div th:text="${message}"></div> -->
<!-- 							</div> -->
<!-- 						</div> -->

						<hr class="featurette-divider">

						<br>

						<div class="row">
							<div class=col-md-1></div>
							<div class=col-md-10>
								<table class="table table-bordered table-striped table-hover">



									<thead>
										<tr>
											<th>Código</th>
											<th>Producto</th>
											<th>Cantidad</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="reporte : ${producto}">
											<td th:text="${reporte.idProducto}" class="tg-yw4l"></td>
											<td th:text="${reporte.nombreProducto}" class="tg-yw4l"></td>
											<td th:text="${reporte.cantidadProducto}" class="tg-yw4l"></td>
											<!-- 							<td th:text="${reporte.descripcionProducto}" class="tg-yw4l"></td> -->
											<!-- 							<td><a class="btn btn-danger" href="modificar.html" -->
											<!-- 								th:href="@{/product/modificar?id='+${reporte.nombreProducto}}">Modificar</a> -->
											<!-- 								<a class="btn btn-danger" -->
											<!-- 								th:href="@{'/product/eliminar?id='+${reporte.estadoProducto}}">Eliminar</a> -->
											<!-- 							</td> -->


										</tr>


									</tbody>

								</table>
							</div>
							<div class=col-md-1></div>
							</br> </br>
						</div>
						<div th:fragment='paginationbar'>
							<ul class='pagination justify-content-center'>
								<li th:each='page : ${pages}'><a
									th:href='@{/reporte/list(page=${page-1},size=5)}'><span
										th:text='${page}'>1</span></a></li>
							</ul>
						</div>


						<br> <br>
					</h2>
</body>

</html>