<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reportes Ventas</title>

<meta charset="UTF-8">
<title>Reportes Ventas</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css"
	rel="stylesheet" type="text/css" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">







</head>
<body>

	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Almaccenture</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a th:href="@{/}" href="#">Página principal</a></li>
							<li><a th:href="@{/ventas/new}" href="#">Venta</a></li>
							<li><a href="/inventario">Inventario</a></li>
							<li class="dropdown active"><a href="#"
								class="dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Reportes<span
									class="caret"></span></a>
								<ul class="dropdown-menu">
									<li class="active"><a href="#">Ventas</a></li>
									<li><a href="/reportes/productosAgotados">Productos
											agotados</a></li>
								</ul></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row text-center">


		<form id="messageForm" th:action="@{/reportes/ventas/lista}"
			action="#" method="get">
			<label for="fechaInicio">Fecha de inicio:</label> <input
				name="fechaInicio" type="Date"> <label for="fechaFinal">Fecha
				final:</label> <input name="fechaFinal" type="Date">
			<div class="form-actions">

				<br> <input type="submit" value="Buscar" id="FiltrarFecha"
					class="btn btn-success btn-lg" />
			</div>

		</form>


	</div>

	<hr class="featurette-divider">

	<br>
	<br>
	<div th:if="${message != ''}"
		class="alert alert-warning alert-dismissible" role="alert">
		<div class="text-center">
			<button type="button" class="close" data-dismis="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<strong>¡Señor usuario!</strong>
			<div th:text="${message}"></div>
		</div>
	</div>
	<div class="row">
		<div class=col-md-2></div>
		<div class=col-md-8>

			<table class="table table-bordered table-striped table-hover">

				<thead>
					<tr>
						<th>Código</th>
						<th>Fecha</th>
						<th>Caja</th>
						<th>Total</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="venta : ${ventas}">
						<td th:text="${venta.idVenta}"></td>
						<td th:text="${venta.fechaVenta}"></td>
						<td th:text="${venta.caja.nombreCaja}"></td>
						<td>$ <span
							th:text="${#numbers.formatDecimal(venta.totalVenta, 0, 'COMMA', 0, 'POINT')}"></span></td>
							<td><button th:if="${not #lists.isEmpty(venta.detalles)}"
							class="glyphicon glyphicon-eye-open" id="pagar"
							onclick="preparaModal()"></button></td>

<!-- 						<td><a th:href="@{'/ventas/}"><span -->
<!-- 								class="glyphicon glyphicon-eye-open"></span></a></td> -->

					</tr>
				</tbody>

			</table>


		</div>
		<div class=col-md-2></div>
	</div>
	
	
	<script th:inline="javascript">
	
	
	function preparaModal() {
		let url = "/ventas/reporte";
		$.get(url, function(result) {
			mostrarModal(result);
		})
	}
	

	function mostrarModal() {

		BootstrapDialog.show({
			type : BootstrapDialog.TYPE_PRIMARY,
			title : "Detalle de la venta",
			draggable : true,
			nl2br : false, 
			buttons : [ {
				label : 'Cerrar',
				cssClass : 'btn-primary',
				id : 'btncancelar',
				action : function(dialogItself) {
					dialogItself.close();
				}
			} ]
		})
	}
</script>
	

</body>
</html>