<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Ventas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="icon" href="../static/img/A.png">

</head>

<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="main.html">Página principal</a></li>
							<li class="active"><a href="venta.html">Venta</a></li>
							<li><a href="#contact">Inventario</a></li>
							<li><a href="#contact">Reportes</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>
	<H2>

		<br> 
		<div class="row">
			<div class="col-md-1">
				<img src="../static/img/A.png" width="130" height="150">
			</div>
			<div class="col-md-11">
				<div class="page-header">
					<h1>
						Administrador web<small> Ventas</small>
					</h1>

				</div>
			</div>
		</div>

		

		<div class="row text-center">
			<div class="col-md-8">

				<div>
					<div class=col-md-4>
						<label th:text="${venta.fecha}"> Fecha:</label>
					</div>
				</div>
				<div class=col-md-4>
					<label>Caja:</label>
				</div>
				<div class=col-md-4>
					<label>Código venta: </label>
				</div>

			</div>
		</div>
		</div>
		<hr class="featurette-divider">

		<br> 

		<div class="row text-center">

			<label path="producto">Producto:</label> <input path="producto"
				cssClass="form-control"> <label path="cantidad">Cantidad:</label>
			<input path="cantidad" cssClass="form-control"> <input
				type="submit" value="Buscar" class="btn btn-success" />

		</div>

		<br> 
		<div class="row">
			<div class=col-md-2></div>
			<div class=col-md-8>

				<table class="table table-bordered table-striped table-hover">

					<thead>
						<tr>
							<th>Código</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>

							<th>Subtotal</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Jabon</td>
							<td>5</td>
							<td>1800</td>

							<td>9000</td>
							<td><a href="<c:url value="
								EliminarCategoria.htm?id=${dato.intCodigoCategoria} " /><span
								class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
						</tr>
					</tbody>

				</table>

			</div>
			<div class=col-md-2></div>
		</div>
		<div class="row text-center">
			<h2>
				<span class="label label-primary">Total</span>
			</h2>
		</div>
		<br> <br>

		<div class="row text-center">
			<input type="submit" value="Aceptar" class="btn btn-success" /> <input
				type="submit" value="Cancelar" class="btn btn-primary" />
		</div>



		</div>

	</H2>
</body>
</html>