<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Almaccenture Ventas</title>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<link rel="icon" href="../static/img/A.png">
</head>

<body>


	<div class="navbar-wrapper">
		<div class="container">

			<nav class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Navegación</span> <span class="icon-bar"></span>
							<span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">Administrador</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="main.html">Página principal</a></li>
							<li class="active"><a href="venta.html">Venta</a></li>
							<li><a href="#contact">Inventario</a></li>
							<li><a href="#contact">Reportes</a></li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	</div>
	<h2>

		<br>
		<div class="row">
			<div class="col-md-1">
				<img
					src="C:/Users/Administrator/git/JavaSpringAlmAccenture/src/main/resources/static/img/A.png"
					width="130" height="150">
			</div>
			<div class="col-md-11">
				<div class="page-header">
					<h1>
						Administrador<small> Ventas</small>
					</h1>

				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div>
					<!-- <form id="cargar" th:action="@{/ventas}" th:object="${venta}"
					action="#" th:method="post"> -->
					<div>

						<label for="fecha">Fecha:</label> <label
							class="label label-default" th:text="${venta.fechaVenta}"></label>

						<label for="caja">Caja:</label> <label class="label label-default"
							th:text="${venta.caja.nombreCaja}"></label>
						<!-- Como inserto como th:field un objeto -->

					</div>
					<!-- </form> -->
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
		<hr class="featurette-divider">

		<br>

		<div class="row text-center">


			<form id="messageForm" th:action="@{/ventas}" action="#"
				th:object="${detalle}" method="get">
				<label for="codigo">Código del producto:</label> <input type="text"
					th:field="*{producto.idProducto}"> <label for="cantidad">Cantidad:</label>
				<input type="number" th:field="*{cantidad}">
				<div class="form-actions">

					<br> <input type="submit" value="Buscar"
						class="btn btn-success btn-lg" />
				</div>

			</form>


		</div>
		<br>
		<!-- <br> <input type="hidden" th:field="*{activo}" /> -->
		<div th:if="${message != ''}"
			class="alert alert-warning alert-dismissible" role="alert">
			<div class="text-center">
				<button type="button" class="close" data-dismis="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>¡Señor(a) usuario!</strong>
				<div th:text="${message}"></div>
			</div>
		</div>

		<hr class="featurette-divider">

		<br>

		<div class="row">
			<div class=col-md-2></div>
			<div class=col-md-8>

				<table class="table table-bordered table-striped table-hover">

					<thead>
						<tr>
							<th>Código</th>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Subtotal</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="detalle : ${venta.detalles}">
							<td th:text="${detalle.producto.idProducto}">1</td>
							<td th:text="${detalle.producto.nombreProducto}">nombre</td>

							<td th:text="${detalle.cantidad}">2</td>

							<td th:text="${detalle.valorUnitario}">1312</td>

							<td th:text="${detalle.cantidad*detalle.valorUnitario}">534534</td>

							<td><a
								th:href="@{'/ventas/' + ${detalle.producto.idProducto}}"><span
									class="glyphicon glyphicon-trash"></span></a></td>

						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><span class="label label-danger">Total</span> <!-- th:text="${producto.total}" --></td>
							<td></td>
						</tr>
					</tbody>

				</table>

			</div>
			<div class=col-md-2></div>
		</div>
		<br>
		<div class="row text-center">
			<form th:action="@{/ventas}" action="#" th:method="GET">

				<input name="guardar" type="submit" value="Aceptar"
					class="btn btn-success btn-lg" />
				
				<input name="limpiar" type="submit" value="Cancelar"
					class="btn btn-primary btn-lg" />

			</form>
			
			<button onclick="calculaCambio()">Pagar</button>

		</div>

		<script th:inline="javascript">
			function calculaCambio() {
				
				let url = "/ventas/pago";
				$.get(url,function(result){
					mostrarModal(result);
				})
				
			}
			
			function mostrarModal(result){
				BootstrapDialog.show({
	                type: BootstrapDialog.TYPE_PRIMARY,
	                title: "Calcular Cambio",
	                message: result,
	                draggable: true,
	                buttons: [{
	                    label: 'Close',
	                    cssClass: 'btn-info',
	                    action: function (dialogItself) {
	                        dialogItself.close();
	                    }
	                }]
	            })
			}
			
			
		</script>

		<br> <br>
	</h2>
</body>
</html>